@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Carlsberg Vietnam</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>ĐT: (+84) 28 3845 1748 <br/> Fax: (+84) 28 3845 1749</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>ĐT: (+84) 234 3580166</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:support@carlsberg.asia">Support@carlsberg.asia</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Tầng 10, Central point
        106 Nguyễn Văn Trỗi,
        phường 8, <br />
        quận Phú Nhuận, TP HCM
    </p>
</section>