@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1></br>
                <h2>Cardsberg Vietnam</h2>
            </hgroup>
            <p>
                Carlsberg là một trong những công ty đa quốc gia Đan Mạch đầu tiên vào Việt Nam và đầu tư lần đầu vào năm 1993. Trong 20 năm đầu tiên, Carlsberg điều hành hoạt động tại Việt Nam thông qua Carlsberg Đông Dương. Năm 2013, công ty Carlsberg Việt Nam hoàn chỉnh được thiết lập bao gồm công ty kinh doanh và nhà máy sản xuất tọa lạc tại miền Bắc và miền Trung Việt Nam.
            </p>
        </div>
    </section>
}
<h3>Lịch sử hình thành</h3>
<ol class="round">
    <li class="one">
        <h5>1847 - J.C. Jacobsen thành lập Carlsberg</h5>
        Nhà sáng lập Carlsberg, Jacob Christian Jacobsen sinh năm 1811 tại Copenhagen. Khi bố của ông mất vào năm 1835, J.C Jacobsen lên điều hành xưởng làm bia của gia đình. Quả thực, ông sinh ra để trở thành người nấu bia, bằng đam mê của mình về bia và sự hứng thú với các môn khoa học tự nhiên từ rất sớm J.C Jacobsen đã kiến tạo một hành trình lâu dài để phát triển chất lượng của bia. Điểm dừng chân đầu tiên của ông là Bavaria, nơi ông học về công nghệ làm bia cho một dòng bia mới tại xưởng bia Gabrial Sedmayr's zum Spaten, Munich. Mùa Hè năm 1845, với hai bình đựng men Spaten trông một chiếc hộp tự chế, ông lên xe ngựa quay trở lại Đan Mạch.
        Trong suốt hành trình dài đó, ông giữ cho men lạnh bằng cách thường xuyên dừng lại và nhúng vào nước lạnh. Mẻ bia lager đầu tiên của J.C. Jacobsen được làm trong một cái chậu rửa của mẹ ông. Chúng được làm đi làm lại tại xưởng sản xuất cho đến khi ông thành công. Dòng bia lager mới này cần một xưởng sản xuất mới nơi có thể để kho trữ lạnh. Vậy là ông đã xây một xưởng sản xuất mơi ngay bên ngoài Copenhagen, lấy tên từ tên của đứa con trai 5 tuổi - Carl, và một từ trong tiếng Đan Mạch nghĩa là "ngọn đồi" - Bjerg. Và như thế, Carlsberg được thành lập năm 1847. 21 năm sau, Carlsberg được quốc tế chấp nhận khi được xuất khẩu sang Anh Quốc.
        </li>

    <li class="two">
        <h5>1867 - Nhà máy bia Carlsberg trải qua một trận cháy lớn</h5>
        J.C. Jacobsen một lần nữa tiến hành hiện đại hóa nhà máy. Ông lắp đặt hệ thống làm lạnh giúp cải thiện chất lượng sản phẩm và tạo nên sự tăng trưởng vượt trội trong kinh doanh. Lúc bấy giờ, con trai của Jacobsen là Carl sau một thời gian học tập về quy trình làm bia tại Châu Âu đã trở về. Carl được mời đến nhà máy bia mới xây thêm để tự nấu ra loại bia của riêng mình. Carl đặt tên cho nhà máy của mình là New Carlsberg. Điều đầu tiên mà Carl làm là đẩy mạnh công suất và giảm thiểu một nửa quy trình sản xuất bia của cha, khiến cho lượng bia làm ra đáp ứng đủ nhu cầu của thị trường. Trong vòng 10 năm, doanh thu của New Carlsberg vượt xa so với nhà máy Carlsberg cũ.
    </li>

    <li class="three">
        <h5>1868 - Carlsberg bắt đầu xuất khẩu</h5>
        1875 - J.C. Jacobsen thành lập phòng thí nghiệm Carlsberg để nghiên cứu về malt, các nấu bia và quá trình lên men </br>
        1876 - Quỹ Carlsberg được thành lập để quản lý phòng thí nghiệm và hỗ trợ các nghiên cứu khoa học của Đan Mạch </br>
        1882 - SAu khi tiếp nước cha, Carl Jacobsen tạo dựng nhà máy bia độc lập của mình với tên gọi New Carlsberg

    </li>
</ol>
